body {
    padding-top: 5rem;
}
.starter-template {
    padding: 3rem 1.5rem;
    text-align: center;
}


/*user added styles start*/
.menu-toggler {
    display: inline-block;
    width: 3em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background: no-repeat center center;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
    border: 1px solid transparent;
}

@media screen and (max-width: 991px){
    #main-menu-toggle {
        display: none;
    }
}

#searchResults {
    overflow-y: auto;
    /*max-height: 100vh;*/
}

#saved-items {
    overflow-y: auto;
    /*this sets max height so total calorie footer show*/
    max-height: 60vh;
}

#user-message {
    display: none;
}

#servings {
    width: 2.5em;
}

/*set save food text table col widths*/
.column-one {
    width: 60%;
}

.column-two {
    width: 40%;
}

/*accordian up down arrows*/
.card-panel:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
    font-size: 13px;
    color: #777;
    float: left;
    margin-left: 5px;
}

.collapsed:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
}

/*override default bootstrap padding*/
.card-header {
    padding: 0!important;
}

#app-hello {
    max-width: 50vw;
    margin: auto;
}

#app-message {
    max-width: 75vw;
    margin: auto;
}

#app-ux-container {
    max-width: 75vw;
    margin: auto;
}

/*these are to format form width to override bootstrap width settings*/
@media screen and (min-width: 768px) {
    #bmi-view {
        max-width: 40vw;
    }
}

@media screen and (min-width: 992px) {
    #bmi-view {
        max-width: 50vw;
    }
}
@media screen and (min-width: 1200px) {
    #bmi-view {
        max-width: 25vw;
    }
}