<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Find Fit Foods</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/starter-template.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Find Fit Foods</a>
</nav>

<div class="container-fluid" id="app-view">

    <div id="app-hello">
        <!--this will be the first thing shown to user, allowing user to select how to proceed-->
        <div id="accordion-hello" role="tablist" aria-multiselectable="true">
            <div class="card">
                <div class="card-header" role="tab" id="headingOne">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" data-parent="#accordion-hello" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Intro
                        </a>
                    </h5>
                </div>

                <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
                    <div class="card-block">
                    This explains the app to the user.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingTwo">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion-hello" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Body Mass Index (BMI)
                        </a>
                    </h5>
                </div>
                <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="card-block">
                        This will explain BMI.
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header" role="tab" id="headingThree">
                    <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" data-parent="#accordion-hello" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Search Food Data
                        </a>
                    </h5>
                </div>
                <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="card-block">
                        This will explain food data search.
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="app-message" class="row collapse">
        <div id="user-message" class="col-sm-12 text-center text-danger">
        </div>
    </div>
    <div id="app-ux-container" class="row collapse">
        <div id="app-controls" class="col-sm-3">
            <div class="row" id="search-view">
                <div class="col-sm-12">
                    <form id="search-request">
                        <div class="form-group">
                            <label for="search-terms">Enter Search Terms</label>
                            <textarea name="searchTerms" id="search-terms" cols="20" rows="1"></textarea>
                        </div>
                        <button type="submit" id="submitBtn" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>
            <div class="row" id="bmi-controls">
                <div class="col-sm-12" id="bmi-view">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4>BMI/Life Expectancy</h4>
                            <form id="bmi-search">
                                <div class="form-group">
                                    <label for="bmi-height">Enter Height (inches)</label>
                                    <input type="text" name="bmiHeight" id="bmi-height">
                                </div>
                                <div class="form-group">
                                    <label for="bmi-weight">Enter Weight (pounds)</label>
                                    <input type="text" name="bmiWeight" id="bmi-weight">
                                </div>
                                <div class="form-group">
                                    <label for="life-age">Enter Age</label>
                                    <input type="number" name="lifeAge" id="life-age">
                                </div>
                                <div class="form-group">
                                    <label for="life-gender">Choose Gender</label>
                                    <select id="life-gender" form="bmi-search">
                                        <option value="m">Male</option>
                                        <option value="f" selected>Female</option>
                                    </select>
                                </div>
                                <button type="submit" id="submitBMI" class="btn btn-primary">Submit</button>
                            </form>
                        </div>
                        <div class="row">
                            <div class="col-sm-12" >
                                <h4>BMI Results</h4>
                                <div id="bmi-results">

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="app-actions" class="col-sm-9">
            <div class="row">
                <div class="col-md-6">
                    <h2>Results</h2>
                    <div id="searchResults">

                    </div>
                </div>
                <div class="col-md-6">
                    <div id="saved-container">
                        <h2>Saved Food Items</h2>
                        <div  id="saved-items">
                            <div id="accordion" role="tablist" aria-multiselectable="true">

                            </div>
                        </div>
                        <hr>
                        <div id="saved-footer">
                        </div>
                    </div>
                </div>

        </div>
    </div>

    </div>
</div><!-- /.container -->

<!--underscore templates for views-->
<script id="bmiTemplate" type="text/template">
    <ul>
        <li><%= bmi.status %> </li>
        <li><%= bmi.risk %> </li>
        <li>Your BMI is <%= bmi.value %>.  Normal BMI is between 18 and 25.</li>
        <li>Your ideal weight is <%= ideal_weight %> </li>
        <li>Your BMR is <%= bmr.value %>.  This is the approximate amount of calories you would burn if
        you did nothing all day.  If you eat more calories than you burn you gain weight. </li>
    </ul>

</script>

<script id="foodTemplate" type="text/template">
    <h4> <%= item_name %> </h4>
    <h5> Brand:  <%= brand_name %> </h5>
    <ul>
        <li>Calories: <%= nf_calories %> </li>
        <li>Total Fat <%= nf_total_fat %> </li>
        <li>Carbohydrates <%= nf_total_carbohydrate %> </li>
        <li>Protein <%= nf_protein %> </li>
        <li>Serving Size <%= nf_serving_size_qty %> <%= nf_serving_size_unit %></li>
    </ul>
    <button class="add-food">Add Food</button>
</script>

<script id="savedFoodTemplate" type="text/template">
    <div class="card">
        <div class="card-header" role="tab" id=<%= item_id %>>
            <h5 class="mb-0">
                <a class="card-panel" data-toggle="collapse" data-parent="#accordion" href=<%= href %> aria-expanded="true" aria-controls="collapseOne">
                    <table class="table food-table">
                        <colgroup>
                            <col class="column-one">
                            <col class="column-two">
                        </colgroup>
                        <tbody>
                            <tr>
                                <td class="food-item_name"><%= item_name %></td> <td class="food-brand_name" >Brand: <%= brand_name %></td>
                            </tr>
                        </tbody>
                    </table>
                </a>
            </h5>
        </div>

        <div id=<%= divId %> class="collapse show" role="tabpanel" aria-labelledby=<%= headingLabel %>>
            <div class="card-block">
                <ul>
                    <li>Calories: <%= nf_calories %> </li>
                    <li>Total Fat: <%= nf_total_fat %> </li>
                    <li>Carbohydrates: <%= nf_total_carbohydrate %> </li>
                    <li>Protein: <%= nf_protein %> </li>
                    <li>Serving Size: <%= nf_serving_size_qty %> <%= nf_serving_size_unit %></li>
                    <li>Servings Eaten:<input type="number" value= <%= servings %> id="servings">   </li>
                    <li>Meal Type
                        <select class="meal-type">
                            <option > <%= meal_type %></option>
                            <option value="Breakfast" >Breakfast</option>
                            <option value="Lunch" >Lunch</option>
                            <option value="Dinner">Dinner</option>
                            <option value="Snack">Snack</option>
                        </select>
                    </li>
                </ul>
                <button class="delete-food">Delete</button>
            </div>
        </div>
    </div>
</script>

<script id="savedFooterTemplate" type="text/template">
    <footer><span>Calories: <%= total_calories %></span></footer>
</script>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--
<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="../../dist/js/bootstrap.min.js"></script>
&lt;!&ndash; IE10 viewport hack for Surface/desktop Windows 8 bug &ndash;&gt;
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
-->

<!--local dev links-->
<script src="js/jquery-3.1.1.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery-3.1.1.min.js"><\/script>')</script>
<script src="js/tether.js"></script>
<script src="js/underscore-min.js"></script>
<script src="js/backbone-min.js"></script>
<script src="js/backbone.localStorage.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/models/foodSearch.js"></script>
<script src="js/models/savedFood.js"></script>
<script src="js/views/bmiView.js"></script>
<script src="js/views/food.js"></script>
<script src="js/views/library.js"></script>
<script src="js/views/savedFoodsView.js"></script>
<script src="js/views/savedLibraryView.js"></script>
<script src="js/views/userMsg.js"></script>
<!--<script src="js/views/savedFooterView.js"></script>-->
<script src="js/collections/libraryCollection.js"></script>
<script src="js/collections/savedItems.js"></script>

<script src="js/app.js"></script>

</body>
</html>
